<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Showing URL</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <style>
      * {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
      }
    </style>
  </head>
  <body class="bg-neutral-100">
    <header class="bg-white h-14 mb-10">
      <div class="grid grid-cols-3 w-full max-w-4xl mx-auto h-14 items-center">
        <div>
          <a class="text-2xl font-bold text-blue-500" href="/">GoShorts</a>
        </div>
        <ul class="flex justify-center">
          <li>
            <a href="/urls">My URLs</a>
          </li>
        </ul>
        <div class="flex justify-end">
          <a href="#">Login</a>
        </div>
      </div>
    </header>

    <section class="bg-white max-w-2xl mx-auto p-10 rounded">
      <h1 class="font-bold text-2xl text-center mb-10 text-neutral-600">
        {{ .Title }}
      </h1>
      <div class="flex items-center gap-5">
        <div class="flex-1">
          <input
            id="copy-input"
            class="w-full bg-neutral-100 px-6 py-3 rounded outline-none placeholder:text-gray-400"
            name="url"
            autocomplete="off"
            value="{{ .Link }}"
            readonly
          />
        </div>

        <div>
          <button
            id="copy-button"
            class="outline-none focus:shadow focus:bg-blue-400 hover:bg-blue-400 transition-colors ease-in-out duration-150 hover:shadow bg-blue-500 text-white px-6 py-3 rounded cursor-pointer font-bold"
            type="submit"
          >
            Copy
          </button>
        </div>
      </div>

      <div class="mt-5 flex items-center gap-5 *:text-sm *:text-neutral-500">
        <p>Visited {{.URL.Visits }} times</p>
        <a
          target="_blank"
          class="ml-auto font-semibold hover:underline hover:text-blue-500"
          href="//{{ .URL.URL }}"
        >
          Visit link
        </a>
        <form action="/delete" method="post">
          <input type="hidden" name="id" value="{{.URL.ID}}" />
          <button
            class="hover:text-red-600 hover:underline font-semibold cursor-pointer"
          >
            Delete link
          </button>
        </form>
      </div>
    </section>
    <p class="text-sm max-w-2xl mx-auto text-right text-neutral-400 mt-5">
      Made with <3 by <a href="//github.com/aliadelharrat">Adel Harrat</a>
    </p>

    <script>
      const button = document.querySelector("#copy-button");
      const input = document.querySelector("#copy-input");

      button.addEventListener("click", async function () {
        await navigator.clipboard.writeText(input.value);
        console.log(`'${input.value}' copited to clipboard!`);
        button.innerHTML = "Copied!";
        setTimeout(() => {
          button.innerHTML = "Copy";
        }, 2000);
      });
    </script>
  </body>
</html>
